[user]
	name = Krzysztof Szafranek
	email = ebraun@o2.pl
[mergetool]
	keepBackup = true
[color]
	ui = true
[push]
	default = simple
	autoSetupRemote = true
[http]
	postBuffer = 5242880
[pull]
	rebase = true
[rebase]
  autosquash = true
[alias]
	a = add
	alias = config --get-regexp ^alias
	amne = commit --amend --no-edit
	b = branch
	branch-name = "!git symbolic-ref --short HEAD"
	branch-pp = for-each-ref --sort=committerdate refs/remotes/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	c = commit
	cam = commit -am
	cm = commit -m
	co = checkout
	cob = checkout -b
	cp = cherry-pick
	d = diff
	delete-merged-branches = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	l = "!git --no-pager log --pretty=tformat:"%Cgreen%h%Creset%x09%ad%x09%Cblue%an%Creset%x09%s" -n30 --date=format:'%a %Y-%m-%d %H:%M'"
	p = pull
	pf = push --force-with-lease
	publish = "!git push -u origin $(git branch-name)"
	r = rebase
	ri = rebase --interactive
	s = status
	st = status
	sync = "!git fetch origin master && git rebase origin/master"
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
	colorMoved = true
[diff-so-fancy]
	stripLeadingSymbols = false
	markEmptyLines = false
[color "diff-highlight"]
	oldNormal = 9 bold
	oldHighlight = white bold 9
	newNormal = 28 bold
	newHighlight = white bold 28
