[user]
	name = Krzysztof Szafranek
	email = ebraun@o2.pl
[mergetool]
	keepBackup = true
[color]
	ui = true
[push]
	default = simple
[http]
	postBuffer = 5242880
[pull]
	rebase = true
[alias]
	alias = config --get-regexp ^alias
	a = add
	amne = commit --amend --no-edit
	b = branch
	co = checkout
	c = commit
	cm = commit -m
	cam = commit -am
	cav = commit -av
	cv = commit -v
	d = diff
	l = "!git --no-pager log --pretty=tformat:"%Cgreen%h%Creset%x09%ad%x09%Cblue%an%Creset%x09%s" -n30 --date=format:'%a %Y-%m-%d %H:%M'"
	s = status
	pf = push --force-with-lease
	branch-name = "!git symbolic-ref --short HEAD"
	publish = "!git push -u origin $(git branch-name)"
	delete-merged-branches = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	sync = "!git fetch origin master && git rebase origin/master"
	branch-pp = for-each-ref --sort=committerdate refs/remotes/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[diff-so-fancy]
	stripLeadingSymbols = false
	markEmptyLines = false
[color "diff-highlight"]
	oldNormal = 9 bold
	oldHighlight = white bold 9
	newNormal = 28 bold
	newHighlight = white bold 28
